
<div class="gallery" id="gallery" style="width: 100%; height: 30%">
    <ul class="pagination" id="glrPag">
        
        @{
            for (int i = 0; i < ViewBag.PageAmount; i++)
            {
                <li>
                    @if (i == 0)
                    {
                        <a href="#" class="active">1</a>
                        continue;
                    }
                    
                    <a href="#">@(i+1)</a>
                </li>
            }
        }
        @*@for (int i = 0; i < ViewBag.PageAmount; i++)
    {
        <li class="page-item">
            @Ajax.ActionLink((i+1).ToString(), "GetGalleryPage", new { page = i+1 },
                new AjaxOptions { HttpMethod = "GET", OnSuccess = "module.loadPg" },
                new { id = i })
        </li>
    }*@
    </ul>

    <div class="row" id="items">
        <div class="col-sm-4" id="item1">
            <a href="" class="lightbox" id="aimg1">
                <img src="" style="width: 100%;" id="img1" class="item"/>
            </a>
        </div>
        <div class="col-sm-4" id="item2">
            <a href="" class="lightbox" id="aimg2">
                <img src="" style="width: 100%" id="img2" class="item"/>
            </a>
        </div>
        <div class="col-sm-4" id="item3">
            <a href="" class="lightbox" id="aimg3">
                <img src="" style="width: 100%" id="img3" class="item"/>
            </a>
        </div>
    </div>
</div>


<div id="test">dqwdwq</div>
